<form novalidate>
    <mat-form-field class="add-account__form-field" color="primary">
        <mat-select class="add-account-icons" [(value)]="selectedLayout" (selectionChange)="toggle($event.value)"
            [compareWith]="compareFn" [(ngModel)]="icon" (selectionChange)="iconChange()">
            <mat-select-trigger>
                <img class="add-account-img" [src]="selectedLayout.path" alt="{{selectedLayout.label}}">
            </mat-select-trigger>
            <mat-option *ngFor="let option of accountIconOptions" [value]="option">
                <img class="add-account-img" [src]="option.path" alt="{{option.label}}">
            </mat-option>
        </mat-select>
    </mat-form-field>
</form>