:host {
  justify-self: flex-end;
}

.add-account__form-field {
  margin-right: 1.25rem;
}

.add-account-img {
  width: 30px;
  height: 30px;
}

.add-account-icons .add-account-icons,
.add-account-icons .mat-mdc-select {
  width: fit-content !important;
}

.add-account-icons mat-select-trigger {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.mat-mdc-form-field-infix {
  width: fit-content !important;
}

.add-account__label {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: calc(12px + 6 * (100vw - 320px) / 1600);
  line-height: 140%;
  color: #263834;
}

.add-account__label {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: calc(12px + 4 * (100vw - 320px) / 1600);
  line-height: 142%;
  color: #263834;
}

 .add-account__form-item {
  width: 100px;
  height: 50px !important;
}