.forgot-password__dialog {
  padding: 40px;
  padding-top: 30px;
  gap: 10px;
  background: #ffffff;
  box-shadow: -2px -2px 16px rgba(39, 222, 191, 0.06), 2px 2px 16px rgba(39, 222, 191, 0.06);
  border-radius: 30px;
}

.forgot-password__text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.forgot-password__title {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  color: #263834;
  text-align: center;
}

.forgot-password__subtitle {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #263834;
}

@media (max-width: 665px) {
  .forgot-password__dialog {
    padding: 15px;
    padding-top: 25px;
  }

  .forgot-password__subtitle {
    font-size: 17px;
  }
}
