:host {
  background: #ffffff;
}

.form-container {
  box-shadow: -2px -2px 16px rgba(39, 222, 191, 0.06), 2px 2px 16px rgba(39, 222, 191, 0.06);
  border-radius: 20px;
  padding: 32px;
}

.form-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.form-title__text {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 42px;
  color: #1b9b85;
  margin: 0;
}

.form-title__icon {
  width: 32px;
  height: 32px;
}
