<form [formGroup]="forgotPasswordForm" class="w-full flex flex-col">
  <div class="flex flex-col gap-3 w-full">
    <span class="text-base font-medium main-text-color text-left">Электронная почта</span>
    <mat-form-field appearance="outline">
      <input class="w-full" matInput placeholder="Введите адрес электронной почты..." formControlName="email" />
      <mat-error class="w-full" *ngIf="f['email'].invalid && f['email'].touched">
        <span *ngIf="f['email'].errors?.['required']">{{ ERROR_MESSAGES.REQUIRED }}</span>
        <span *ngIf="f['email'].errors?.['email']">{{ ERROR_MESSAGES.INVALID_EMAIL }}</span>
      </mat-error>
    </mat-form-field>

    <div class="flex flex-col gap-1 w-full">
      <span class="text-base font-medium main-text-color text-left">Проверка</span>
      <mat-checkbox formControlName="recaptcha" (change)="onChangeRecaptcha($event.checked)">
        <span class="text-lg font-medium main-text-color">Я не робот</span>
      </mat-checkbox>
      <mat-error class="w-full" *ngIf="f['recaptcha'].invalid && f['recaptcha'].touched">
        <span *ngIf="f['recaptcha'].errors?.['required']">{{ ERROR_MESSAGES.REQUIRED }}</span>
      </mat-error>
    </div>
  </div>

  <div class="w-full m-auto">
    <button type="submit"
      class="cursor-pointer w-full mt-5 bg-teal-700 text-white p-4 rounded-lg text-lg transition-opacity hover:opacity-75 disabled:bg-gray-200 disabled:text-black"
      (click)="onSubmit()" [disabled]="forgotPasswordForm.invalid || forgotPasswordForm.disabled">
      Восстановить пароль
    </button>
  </div>
</form>
