<form [formGroup]="forgotPasswordForm" class="w-full flex flex-col">
  <div class="form-field">
    <div class="flex flex-col">
      <p class="form-text">Электронная почта</p>
      <mat-form-field appearance="outline">
        <input autocomplete="off" class="w-full" matInput placeholder="Введите адрес электронной почты..." formControlName="email" />
        <mat-error class="w- full" *ngIf="f['email'].invalid && f['email'].touched">
          <span *ngIf="f['email'].errors?.['required']">{{ ERROR_MESSAGES.REQUIRED }}</span>
          <span *ngIf="f['email'].errors?.['email']">{{ ERROR_MESSAGES.INVALID_EMAIL }}</span>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="flex flex-col gap-1 w-full">
      <p class="form-text">Проверка</p>
      <mat-checkbox color="primary"formControlName="recaptcha" (change)="onChangeRecaptcha($event.checked)">
        <span class="form-text">Я не робот</span>
      </mat-checkbox>
      <mat-error class="w-full" *ngIf="f['recaptcha'].invalid && f['recaptcha'].touched">
        <span *ngIf="f['recaptcha'].errors?.['required']">{{ ERROR_MESSAGES.REQUIRED }}</span>
      </mat-error>
    </div>
  </div>

  <div class="w-full m-auto">
    <button type="submit" class="btn-submit cursor-pointer w-full" (click)="onSubmit()"
      [disabled]="forgotPasswordForm.invalid || forgotPasswordForm.disabled">
      Восстановить пароль
    </button>
  </div>
</form>
