.password-recovery-dialog {
  padding: 40px;
  background: #ffffff;
  box-shadow: -2px -2px 16px rgba(39, 222, 191, 0.06), 2px 2px 16px rgba(39, 222, 191, 0.06);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.password-recovery__title-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.password-recovery__title {
  font-family: Gilroy, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  color: #263834;
  text-align: center;
}

@media (max-width: 450px) {
  .password-recovery__title {
    font-size: 25px;
  }

  .password-recovery-dialog {
    padding: 20px;
  }
}
