.password-recovery-dialog {
  padding: 40px;
  padding-top: 20px;
  gap: 10px;
  background: #ffffff;
  box-shadow: -2px -2px 16px rgba(39, 222, 191, 0.06), 2px 2px 16px rgba(39, 222, 191, 0.06);
  border-radius: 30px;
}

.password-recovery__title-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.password-recovery__title {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 65px;
  color: #263834;
  text-align: center;
}

