:host {
  width: 100%;
}

.btn-submit {
  padding: 16px 10px;
  background: #1b9b85;
  box-shadow: inset -5px -5px 32px rgba(255, 255, 255, 0.16), inset 5px 5px 32px rgba(255, 255, 255, 0.16);
  border-radius: 10px;
  font-family: Gilroy, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 32px;
  text-align: center;
  color: #ffffff;
  margin-top: 20px;
  transition: 0.5s;
}

.btn-submit:hover {
  opacity: 0.75;
}

.btn-submit[disabled] {
  background-color: #cccccc;
  color: black;
  cursor: default;
}
