<form [formGroup]="passwordRecoveryForm" class="w-full flex flex-col">
  <div class="form__container">
    <mat-form-field appearance="outline">
      <input autocomplete="off" [type]="hidePassword ? 'password' : 'text'" matInput placeholder="Введите ваш пароль..."
        formControlName="password" class="form__input"/>
      <mat-error *ngIf="f['password'].invalid && f['password'].touched">
        <span *ngIf="f['password'].errors?.['required']">{{ ERROR_MESSAGES.REQUIRED }}</span>
        <span class="text-sm" *ngIf="f['password'].errors?.['pattern']">
          {{ ERROR_MESSAGES.INVALID_PASSWORD }}
        </span>
      </mat-error>
      <button class="cursor-pointer" matSuffix mat-icon-button (click)="hidePassword = !hidePassword">
        <mat-icon>
          {{hidePassword ? 'visibility_off' : 'visibility'}}
        </mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <input autocomplete="off" matInput [type]="hideConfirmPassword ? 'password' : 'text'"
        placeholder="Повторно новый пароль..." formControlName="confirmPassword" class="form__input"/>
      <mat-error *ngIf="f['confirmPassword'].invalid && f['confirmPassword'].touched">
        <span *ngIf="f['confirmPassword'].errors?.['required']">{{ ERROR_MESSAGES.REQUIRED }}</span>
        <span *ngIf="f['confirmPassword'].errors?.['pattern']">
          {{ ERROR_MESSAGES.INVALID_PASSWORD }}
        </span>
        <span *ngIf="f['confirmPassword'].errors?.['value']">{{ ERROR_MESSAGES.PASSWORDS_MISMATCH }}</span>
      </mat-error>
      <button class="cursor-pointer" matSuffix mat-icon-button (click)="hideConfirmPassword = !hideConfirmPassword">
        <mat-icon matSuffix mat-icon-button>
          {{hideConfirmPassword ? 'visibility_off' : 'visibility'}}
        </mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div class="w-full m-auto">
    <button type="submit" class="btn-submit cursor-pointer w-full" (click)="onSubmit()"
      [disabled]="passwordRecoveryForm.invalid || passwordRecoveryForm.disabled">
      Восстановить пароль
    </button>
  </div>
</form>
