.accounts-section{
  background: #F9FFFE;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
}

.accounts-content {
  display: flex;
  display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
}

