.accounts-section {
  width: 100%;
  height: 100%;
  padding: calc(20px + 20 * (100vw - 320px) / 1600);
}

.accounts-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: calc(20px + 20 * (100vw - 320px) / 1600);
  grid-auto-flow: dense;
}

@media screen and (max-width: 1024px) {
  .accounts-content {
    grid-template-columns: repeat(1, minmax(300px, 1fr));
  }
}
