.registration__title {
  font-family: Gilroy, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: calc(20px + 10 * (100vw - 320px) / 1600);
  line-height: 65px;
  color: #263834;
}
