.add-account-dialog {
  background-color: #ffffff;
  width: 100%;
  justify-content: center;
  gap: 40px;
  padding: 20px;
}

.add-account-dialog__header {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 20px;
  grid-auto-flow: dense;
  align-items: center;
}

.dialog-actions {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: center;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: calc(14px + 2 * (100vw - 320px) / 1600);
  line-height: 133%;
  padding: 0 !important;
}

.cancel-btn {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1b9b85;
  background: #ffffff;
  border-radius: 20px;
  padding: 16px 10px;
  box-shadow: -2px -2px 16px rgba(39, 222, 191, 0.06), 2px 2px 16px rgba(39, 222, 191, 0.06);
  border-radius: 1.25rem;
  border: 1px solid #1b9b85;
}

.submit-btn {
  width: 47%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1b9b85;
  box-shadow: inset -5px -5px 32px rgba(255, 255, 255, 0.16), inset 5px 5px 32px rgba(255, 255, 255, 0.16);
  border-radius: 1.25rem;
  color: #ffffff;
  padding: 16px 10px;
}

.add-account-form__input {
  width: 100%;
  padding: 14px 22px;
  margin: 5px 0 20px 0;
  display: inline-block;
  background: #ffffff;
  border: 1px solid #d0d0d0;
  border-radius: 10px;
}

.add-account-form {
  display: flex;
  flex-direction: column;
  font-size: calc(14px + 2 * (100vw - 320px) / 1600);
  align-items: stretch;
  justify-content: center;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  color: #263834;
}

.add-account-form__err {
  font-size: calc(12px + 2 * (100vw - 320px) / 1600);
}

.add-account-dialog__title {
  font-weight: 700;
  font-size: calc(18px + 8 * (100vw - 320px) / 1600);
  line-height: 135%;
  color: #263834;
  padding: 0;
  white-space: nowrap;
  margin-bottom: 0;
}

input[type='date'] {
  cursor: pointer;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'],
input[type='number']:hover,
input[type='number']:focus {
  appearance: none;
  -moz-appearance: textfield;
}

.add-account-form__field-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.add-account-form__field {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

button[disabled] {
  opacity: 0.5;
}
.initial-balance__form-field {
  position: relative;
}
.initial-balance__input {
  padding-right: 30px;
}
.initial-balance__cur {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.currency-input {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 138% !important;
  color: #dbdbdb;
}

.account-name-input[placeholder]::placeholder,
.initial-balance__input[placeholder]::placeholder {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 138% !important;
  color: #dbdbdb;
}


@media screen and (max-width: 700px) {
  .submit-btn {
    width: 100%;
  }

  .cancel-btn {
    width: 100%;
  }
}
