<form [formGroup]="addAccountForm" (ngSubmit)="onAddAcount()">
    <div class="add-account-dialog">
        <div class="add-account-dialog__header">
            <h2 class="add-account-dialog__title" mat-dialog-title>Добавить счет</h2>
            <app-select-icon-toggle (toggleLayout)="onToggleLayout($event)" [isTileLayout]="isTileLayout"
                (selectIconChanged)="onIconChanged($event)"></app-select-icon-toggle>
        </div>
        <mat-dialog-content>
            <div class="add-account-form">
                <div class="add-account-form__field">
                    <label class="add-account-form__label" for="account-name">Название счета*</label>
                    <input autocomplete="off" class="add-account-form__input" type="text" name="account-name"
                        id="account-name" placeholder="Наличные" formControlName="name" trimOnChange>
                    <mat-error *ngIf="f['name'].invalid && f['name'].touched">
                        <span *ngIf="f['name'].errors?.['required'] || f['name'].errors?.['emptyString']">{{
                            ERROR_MESSAGES.REQUIRED }}</span>
                        <span *ngIf="f['name'].errors?.['pattern']">{{ ERROR_MESSAGES['PATTERN_SYMBOLS']}}</span>
                    </mat-error>

                </div>

                <div class="add-account-form__field">
                    <label class="add-account-form__label" for="account-currency">Валюта счета</label>
                    <input readonly formControlName="currency" class="add-account-form__input currency-input"
                        type="text" name="account-currency" id="account-currency" formControlName="currency">
                </div>

                <div class="add-account-form__field">
                    <label class="add-account-form__label" for="initial-balance">Начальный остаток*</label>
                    <input autocomplete="off" class="add-account-form__input" name="initial-balance"
                        id="initial-balance" placeholder="0" formControlName="startAmount" inputmode="numeric">
                    <mat-error *ngIf="f['startAmount'].invalid && f['startAmount'].touched  && f['startAmount'].dirty">
                        <span *ngIf="f['startAmount'].errors?.['required']">{{ ERROR_MESSAGES.REQUIRED }}</span>
                        <span *ngIf="f['startAmount'].errors?.['pattern']">{{ ERROR_MESSAGES['ONLY_NUMBERS_PATTERN']
                            }}</span>
                    </mat-error>

                </div>

                <div class="add-account-form__field">
                    <label class="add-account-form__label" for="date-initial-balance">Дата начального остатка</label>
                    <input class="add-account-form__input add-account-form__input-initial-balance"
                        name="date-initial-balance" id="date-initial-balance" type="date" formControlName="createdOn">
                    <mat-error *ngIf="f['createdOn'].errors?.['futureDate']">
                        <span class="add-account-form__err">{{ ERROR_MESSAGES.INVALID_FUTURE_DATE }}</span>
                    </mat-error>
                </div>
            </div>

            <mat-dialog-actions class="add-account-dialog">
                <button type="submit" class="submit-btn"
                    [disabled]="addAccountForm.invalid || addAccountForm.disabled">Ок</button>
                <button class="cancel-btn" mat-dialog-close mat-dialog-close="cancel">Отмена</button>
            </mat-dialog-actions>
        </mat-dialog-content>
    </div>
</form>