<div class="w-full flex flex-col items-end">
  <form action="" class="w-full flex flex-col">
    <div class="flex flex-col gap-5">
      <span>Электронная почта *</span>
      <mat-form-field appearance="outline">
        <input matInput placeholder="Введите адрес электронной почты" />
      </mat-form-field>
    </div>

    <div class="flex flex-col gap-5">
      <span>Пароль *</span>
      <mat-form-field appearance="outline">
        <input matInput placeholder="Введите пароль" />
      </mat-form-field>
    </div>

    <button type="submit" class="bg-teal-700 text-white p-4 rounded text-lg hover:bg-transparent">Войти</button>
  </form>
  <div class="py-3">
    <button class="text-green-700 bg-transparent border-none p-2">Забыли пароль?</button>
  </div>
</div>
