<mat-sidenav-container class="sidenav-container" autosize>
    <mat-sidenav #sidenav class="sidenav" mode="side" [opened]="isSidenavOpened()"
        [ngClass]="{'mini-variant': !isExpanded}">
    <p class="sidenav__logo">Logo</p>
    <mat-nav-list>
        <a mat-list-item routerLink="/operations" routerLinkActive="active" matTooltip="Операции"
            matTooltipPosition="right" matTooltipHideDelay="300" class="sidenav__link">
            <mat-icon>work_outline</mat-icon>
            <p *ngIf="isExpanded">Операции</p>
        </a>
        <a mat-list-item routerLink="/accounts" routerLinkActive="active" matTooltip="Счета" matTooltipPosition="right"
            matTooltipHideDelay="300" class="sidenav__link">
            <mat-icon>account_balance</mat-icon>
            <p *ngIf="isExpanded">Счета</p>
        </a>
        <a mat-list-item routerLink="/budget" routerLinkActive="active" matTooltip="Бюджет" matTooltipPosition="right"
            matTooltipHideDelay="300" class="sidenav__link">
            <mat-icon>pie_chart</mat-icon>
            <p *ngIf="isExpanded">Бюджет</p>
        </a>
        <a mat-list-item routerLink="/income" routerLinkActive="active" matTooltip="Доходы" matTooltipPosition="right"
            matTooltipHideDelay="300" class="sidenav__link">
            <mat-icon>attach_money</mat-icon>
            <p *ngIf="isExpanded">Доходы</p>
        </a>
        <a mat-list-item routerLink="/expense" routerLinkActive="active" matTooltip="Расходы" matTooltipPosition="right"
            matTooltipHideDelay="300" class="sidenav__link">
            <mat-icon>money_off</mat-icon>
            <p *ngIf="isExpanded">Расходы</p>
        </a>
        <a mat-list-item routerLink="/reports" routerLinkActive="active" matTooltip="Отчёты" matTooltipPosition="right"
            matTooltipHideDelay="300" class="sidenav__link">
            <mat-icon>description</mat-icon>
            <p *ngIf="isExpanded">Отчёты</p>
        </a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="/settings" matTooltip="Настройки" matTooltipPosition="right"
            matTooltipHideDelay="300" class="sidenav__link">
            <mat-icon>settings</mat-icon>
            <p *ngIf="isExpanded">Настройки</p>
        </a>
        <a mat-list-item matTooltip="" matTooltipPosition="right" matTooltipHideDelay="300" class="sidenav__link">
            <mat-icon>help_outline</mat-icon>
            <p *ngIf="isExpanded">Справка</p>
        </a>

        <mat-list-item>
            <button mat-icon-button (click)="isExpanded = !isExpanded" matTooltip="Меню" matTooltipPosition="right"
                matTooltipHideDelay="300">
                <mat-icon *ngIf="!isExpanded">chevron_right</mat-icon>
                <mat-icon *ngIf="isExpanded">chevron_left</mat-icon>
            </button>
        </mat-list-item>
    </mat-nav-list>
    </mat-sidenav>

    <!-- контент страницы -->
    <mat-sidenav-content>
        <div *ngIf="isSidenavOpened()">
            <p class="top__title">{{ pageTitle }}</p>
        </div>

        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>

<app-loader></app-loader>