.mat-sidenav-container {
  height: 100vh;
  box-sizing: border-box;
}

.mat-sidenav {
  height: 98%;
}

.mat-sidenav-content {
  padding: 10px;
  background: #f9fffe;
}
 
.sidenav__list-text {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: calc(14px + 8 * (100vw - 320px) / 1600);
  line-height: 133%;
  color: #263834;
}

.active {
  border-left: 3px solid #1b9b85;

  .sidenav__list-text {
    color: #1b9b85;
    font-weight: 600;
    margin: 0 !important;
  }

  .sidenav__list-icon {
    color: #1b9b85 !important;
  }
}

.chevron-btn {
  margin-top: 50%;
  align-self: flex-end;
  background: #e2fffa;
  box-shadow: -2px -2px 16px rgba(39, 222, 191, 0.02), 2px 2px 16px rgba(39, 222, 191, 0.02);
  border-radius: 12px 0px 0px 12px;
}

.chevron-btn:hover {
  .sidenav__list-icon-chevron {
    color: #1b9b85;
    font-weight: 600;
    transition: 0.3s;
  }
}

.top__title {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: calc(25px + 15 * (100vw - 320px) / 1600);
  line-height: 131%;
  padding: 3rem 0 3rem 3rem;
}

.sidenav__logo {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: calc(20px + 13 * (100vw - 320px) / 1600);
  line-height: 80%;
  text-transform: uppercase;
  color: #263834;
}

.mat-sidenav {
  transition: width 0.2s;
  width: 270px !important;
  padding: 10px;
  padding-right: 0;
}

.mini-variant {
  width: fit-content !important;
}

.header-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header-content {
  display: flex;
  flex-direction: column;
}

.sidenav__list-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-icon {
  width: 22px;
  height: 22px;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}

.sidenav__link .ng-star-inserted {
  margin: 0;
}

.mat-drawer.mat-drawer-side {
  width: 90%;
}

@media (min-width: 768px) {
  .mat-drawer.mat-drawer-side {
    width: 300px;
  }
}

.sidenav__toggle-button {
  margin-left: auto;
}
