:host {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 450px;
  background: #ffffff;
  box-shadow: -2px -2px 16px rgba(39, 222, 191, 0.06), 2px 2px 16px rgba(39, 222, 191, 0.06);
  border-radius: 30px;
}

.dialog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.img {
  width: 270px;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}

.forgot-password__title {
  font-family: Gilroy, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: calc(20px + 8 * (100vw - 320px) / 1600);
  color: #263834;
  line-height: 32px;
  text-align: center;
}

@media (max-width: 1680px) {
  :host {
    max-width: 470px;
  }
}
