:host {
  width: 100%;
  background-color: #ffffff;
  border-radius: 20px;
}

.accounts {
  padding: 32px 24px;
  background-color: #ffffff;
  box-shadow: -2px -2px 16px rgba(39, 222, 191, 0.06), 2px 2px 16px rgba(39, 222, 191, 0.06);
  border-radius: 20px;
  max-width: 562px;
  box-sizing: border-box;
 
}

.accounts-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.accounts-top__title {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 131%;
}

.add-account-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 16px;
  background: #1b9b85;
  box-shadow: inset -5px -5px 32px rgba(255, 255, 255, 0.16), inset 5px 5px 32px rgba(255, 255, 255, 0.16);
  border-radius: 10px;
  color: #ffffff;
  // font-family: 'Gilroy';
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
}

.account {
}
.accounts-main {
}
.accounts__items {
  width: 100%;
}

.accounts__item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // padding: 20px 32px;
}

.account__name {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 133%;
  color: #263834;
}

.account__name_cash::before {
  content: '';
  display: inline-block;
  margin-right: 10px;
  width: 2em;
  height: 1em;
  background-image: url('../../../../../assets/accounts/account-icons/cash.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.amount {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #263834;
}
