<div class="accounts">
    <div class="accounts-top">
        <h2 class="accounts-title">Счета</h2>
        <button class="add-account-btn" (click)="openAccountDialog()">
            <mat-icon>add_circle</mat-icon>
            Добавить счет</button>
    </div>

    <mat-table [dataSource]="accountsData" class="accounts-table">

        <ng-container matColumnDef="iconNumber">
            <mat-cell *matCellDef="let element">
                <img class="account-icon" [src]="getIconSrc(element.iconNumber)" alt="Icon">
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
            <mat-cell *matCellDef="let element">
                <p class="account-name">{{element.name}}</p>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="amount">
            <mat-cell *matCellDef="let element">
                <p class="account-amount">{{element.amount}}
                    <span class="account-amount__currency">{{element.currency}}</span>
                </p>
            </mat-cell>
        </ng-container>

        <mat-row class="account-amount__row" mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>

</div>