<div class="accounts">
    <div class="accounts-top">
        <h3 class="accounts-top__title">Счета</h3>
        <button  class="add-account-btn" (click)="openAccountDialog()">
            <mat-icon>add_circle</mat-icon>
            Добавить счет</button>
    </div>

    <div class="accounts-main">
        <ul class="accounts__items">
            <li class="accounts__item">
                <p class="account__name account__name_cash">Наличные деньги</p>
                <p class="amount">100 000KZT</p>
            </li>
        </ul>
    </div>
</div>