<div class="auth-page__container ">
  <div class="auth-page__left">
    <div class="auth-page__img-container">
      <img class="auth-page__img" ngSrc="./assets/authentication/logo.svg" alt="logo" height="694" width="768" />
    </div>
  </div>

  <div class="auth-page__right">
    <div class="auth__arrow-img-container">
      <img ngSrc="./assets/authentication/arrow.svg" alt="arrow" height="103" width="176" />
    </div>

    <div class="auth-form-content">
      <mat-card class="auth-form-card">
        <mat-card-header>
          <mat-card-title class="auth-title">Добро пожаловать в <span class="text-green-700">FamilyBudget</span>
          </mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <app-authentication-form />
        </mat-card-content>

        <div class="flex flex-row px-5 items-center">
          <div class="w-1/2 h-0.5 bg-black opacity-30"></div>
          <span class="w-1/4 auth-text">Или войти через</span>
          <div class="w-1/2 h-0.5 bg-black opacity-30"></div>
        </div>

        <mat-card-actions>
          <div class="w-full flex flex-row gap-5 help-auth-btns">
            <mat-button-toggle class="w-full flex flex-row relative">
              <div class="google"></div>
              <span class="help-auth-btn">Google</span>
            </mat-button-toggle>

            <mat-button-toggle class="w-full flex flex-row relative">
              <div class="facebook"></div>
              <span class="help-auth-btn">Facebook</span>
            </mat-button-toggle>
          </div>
        </mat-card-actions>

        <mat-card-footer>
          <div class="w-full flex flex-row gap-2 items-center justify-center">
            <span class="auth-text">Не имеете аккаунта?</span>
            <button class="py-2 m-0 font-bold" (click)="openDialog()">Зарегистрируйтесь</button>
          </div>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
</div>
