<div class="auth-page__container ">
  <div class="auth-page__left">
    <div class="auth-page__img-container">
      <img class="auth-page__img" ngSrc="./assets/authentication/logo.svg" alt="logo" height="694" width="768" />
    </div>
  </div>

  <div class="auth-page__right">
    <div class="auth__arrow-img-container">
      <img ngSrc="./assets/authentication/arrow.svg" alt="arrow" height="103" width="176" />
    </div>

    <div class="auth-form-content">
      <div class="auth-form-card">
        <div>
          <h1 class="auth-title">Добро пожаловать <br> в <span class="auth-title__span">FamilyBudget</span>
          </h1>
        </div>

        <mat-card-content>
          <app-authentication-form />
        </mat-card-content>

        <div class="help-auth__text-container">
          <div class="help-auth__text-span"></div>
          <p class="help-auth__text">Или войти через</p>
          <div class="help-auth__text-span"></div>
        </div>


        <div class="help-auth">
          <button class="help-auth__btn">
            <img class="help-auth__btn-icon" src="../../../../../assets/google.svg" alt="">
            <p class="help-auth__btn-text">Google</p>
          </button>

          <button class="help-auth__btn">
            <img class="help-auth__btn-icon" src="../../../../../assets/facebook.svg" alt="">
            <p class="help-auth__btn-text">Facebook</p>
          </button>
        </div>

        <mat-card-footer>
          <div class="w-full flex flex-row gap-2 items-center justify-center">
            <span class="auth-text">Не имеете аккаунта?</span>
            <button class="py-2 m-0 font-bold" (click)="openDialog()">Зарегистрируйтесь</button>
          </div>
        </mat-card-footer>
      </div>
    </div>
  </div>
</div>

