<div class="flex flex-col lg:flex-row h-screen">
  <div class="lg:w-1/2 bg-teal-100 flex items-center justify-center p-6">
    <div>
      <img ngSrc="./assets/authentication/logo.svg" alt="logo" height="694" width="768" />
    </div>
  </div>
  <div class="lg:w-1/2 flex flex-col items-center justify-center p-6">
    <div class="w-full items-start py-5">
      <img ngSrc="./assets/authentication/arrow.svg" class="w-1/6" alt="arrow" height="103" width="176" />
    </div>
    <div class="w-full px-10">
      <mat-card>
        <mat-card-header>
          <mat-card-title class="text-5xl leading-[79px]"
            >Добро пожаловать в <span class="text-green-700">FamilyBudget</span>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-authentication-form />
        </mat-card-content>

        <div class="flex flex-row px-5 items-center py-5">
          <div class="w-1/2 h-0.5 bg-black opacity-30"></div>
          <span class="w-1/4 p-0 m-0 text-center">Или войти через</span>
          <div class="w-1/2 h-0.5 bg-black opacity-30"></div>
        </div>

        <mat-card-actions>
          <div class="w-full flex flex-row gap-5">
            <mat-button-toggle class="w-full">Google</mat-button-toggle>
            <mat-button-toggle class="w-full">Facebook</mat-button-toggle>
          </div>
        </mat-card-actions>

        <mat-card-footer>
          <div class="w-full flex flex-row p-4 gap-2 items-center justify-center">
            <span>Не имеете аккаунта?</span>
            <button class="p-0 m-0 font-bold">Зарегистрируйтесь</button>
          </div>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
</div>
